<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">      
      <ion-label><ion-icon name="home" color="primary" slot="start"></ion-icon>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/marcar-consulta">      
      <ion-label><ion-icon name="add-circle" color="tertiary" slot="start"></ion-icon>Marcar</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/consultas">      
      <ion-label><ion-icon name="today" color="tertiary" slot="start"></ion-icon>Consultas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
